---
import "@/styles/globals.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
    <title>Tu Imagen Rx</title>
    <meta
      name="description"
      content="Radiografías dentales digitales en Talca y Chillán, entregamos exámenes con rapidez según tus necesidades. Calidad y eficiencia a tu servicio"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
