---
import "/public/globals.css";
import { Header } from "@/components/Header";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
    <title>Tu Imagen Rx</title>
    <meta
      name="description"
      content="Radiografías dentales digitales en Talca y Chillán, entregamos exámenes con rapidez según tus necesidades. Calidad y eficiencia a tu servicio"
    />
  </head>
  <body class="flex min-h-screen flex-col">
    <Header client:load />
    <div class="flex-1 overflow-auto">
      <slot />
    </div>
  </body>
</html>
